

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <span>主题列表</span>
          <a class="ms-2" nbButton status="success" routerLink="/app/decoration/theme/market">主题市场</a>
        </div>
        <div class="d-flex">
          <button nbButton class="mx-2" status="danger" (click)="dialog.open(dialogTpl)">在线下载</button>
          <app-upload (finish)="upload($event)" [suffix]="['zip']" [status]="'primary'"></app-upload>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let theme of themes">
    <nb-card>
      <nb-card-header>{{theme.name}}</nb-card-header>
      <nb-card-body>
        <div class="description">
          {{theme.description}}
        </div>
        <div class="d-flex py-3 justify-content-between">
          <span>作者:</span>
          <span>
            <a class="d-inline-block mr-1"
               *ngFor="let author of theme.authors"
               [href]="author.homepage ? author.homepage : '#'" target="_blank">
              {{author.name}}
            </a>
          </span>
        </div>
        <div class="d-flex py-3 justify-content-between">
          <span>版本:</span>
          <span>{{theme.version}}</span>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-between">
        <button nbButton status="danger" [disabled]="theme.enabled || spinner" [nbSpinner]="spinner" (click)="delete(theme.packageName)">删除</button>
        <div class="d-flex">
        <button nbButton status="primary" (click)="activate(theme.packageName)"
                [nbSpinner]="spinner"
                [disabled]="spinner || theme.enabled">启用</button>
        <button *ngIf="theme.upgradeable" class="ms-2" (click)="upgrade(theme.packageName)" nbButton status="control">
          <nb-icon icon="sync-outline"></nb-icon>
        </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<ng-template #dialogTpl let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>在线下载</nb-card-header>
    <nb-card-body>
      <input nbInput name="url" type="url" #url placeholder="下载地址" />
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">取消</button>
      <button nbButton status="primary" (click)="openDownload(url.value, ref)">下载</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

