<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <div class="d-flex align-items-center">
          <div *ngIf="navigate.length > 0" class="d-flex align-items-center">
            <span>
              选择要编辑的导航：
            </span>
            <nb-select [(ngModel)]="nav.id">
              <nb-option *ngFor="let m of navigate" [value]="m.id">{{m.name}}</nb-option>
            </nb-select>
            <button class="mx-2" nbButton status="primary" [disabled]="nav.id < 1" (click)="editor()">编辑</button>
            <span>或</span>
          </div>
          <span>
            <a href="javascript:" (click)="create()">创建新导航</a>&nbsp;&nbsp;<span>不要忘了保存您的修改!</span>
          </span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-5">
    <nb-card>
      <nb-card-header>
        添加导航项
      </nb-card-header>
      <nb-card-body>
        <nb-accordion class="interface-complementary-area" multi="true">
          <nb-accordion-item>
            <nb-accordion-item-header>
              页面
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <form>
                <div class="form-group">
                  <nb-tabset>
                    <nb-tab tabTitle="最近">
                      <div class="d-flex flex-column">
                        <nb-checkbox [(checked)]="p.checked" *ngFor="let p of pages; let i = index;">{{p.title}}</nb-checkbox>
                      </div>
                    </nb-tab>
                    <nb-tab tabTitle="搜索">
                      <label>
                        <input [formControl]="pageInputFormControl!" nbInput status="primary" [nbAutocomplete]="pageAuto" fullWidth>
                      </label>
                      <nb-autocomplete #pageAuto [activeFirst]="true">
                        <nb-option *ngFor="let option of pageFilteredSearch | async" [value]="option.id">
                          {{ option.name }}
                        </nb-option>
                      </nb-autocomplete>
                    </nb-tab>
                  </nb-tabset>
                </div>
                <div class="form-group text-right">
                  <button nbButton [disabled]="pages.length < 1" status="primary" (click)="addToNav('page')">添加到导航</button>
                </div>
              </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              文章
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <form>
                <div class="form-group">
                  <nb-tabset>
                    <nb-tab tabTitle="最近">
                      <div class="d-flex flex-column">
                        <nb-checkbox [(checked)]="p.checked"  *ngFor="let p of articles;let i = index;">{{p.title}}</nb-checkbox>
                      </div>
                    </nb-tab>
                    <nb-tab tabTitle="搜索">
                      <label>
                        <input nbInput [formControl]="postsInputFormControl!" status="primary" [nbAutocomplete]="postsAuto" fullWidth>
                      </label>
                      <nb-autocomplete #postsAuto>
                        <nb-option *ngFor="let option of postsFilteredSearch | async" [value]="option.id">
                          {{ option.name }}
                        </nb-option>
                      </nb-autocomplete>
                    </nb-tab>
                  </nb-tabset>
                </div>
                <div class="form-group text-right">
                  <button nbButton [disabled]="articles.length < 1" status="primary" (click)="addToNav('post')">添加到导航</button>
                </div>
              </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              自定义链接
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <form #customForm="ngForm">
                <div class="mb-3 row">
                  <label for="custom_link" class="label col-sm-3 col-form-label">链接</label>
                  <div class="col-sm-9">
                    <input id="custom_link" required name="link" [(ngModel)]="custom.link" placeholder="https://"  fullWidth status="primary" nbInput>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="custom_link_name" class="label col-sm-3 col-form-label">链接名称</label>
                  <div class="col-sm-9">
                    <input id="custom_link_name" required name="link_name" [(ngModel)]="custom.title" fullWidth status="primary" nbInput>
                  </div>
                </div>
                <div class="mb-3 text-right">
                  <button nbButton status="primary" [disabled]="!customForm.valid" (click)="addToNav('custom')">添加到导航</button>
                </div>
              </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              分类标签
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <form>
                <div class="form-group">
                  <nb-tabset>
                    <nb-tab tabTitle="分类">
                      <div class="d-flex flex-column">
                        <nb-checkbox [(checked)]="p.checked" *ngFor="let p of categories; let i = index;">{{p.name}}</nb-checkbox>
                      </div>
                    </nb-tab>
                    <nb-tab tabTitle="搜索">
                      <label>
                        <input nbInput status="primary" [formControl]="taxonomyInputFormControl!" [nbAutocomplete]="taxonomyAuto" fullWidth>
                      </label>
                      <nb-autocomplete #taxonomyAuto>
                        <nb-option *ngFor="let option of taxonomyFilteredSearch | async" [value]="option.id">
                          {{ option.name }}
                        </nb-option>
                      </nb-autocomplete>
                    </nb-tab>
                  </nb-tabset>
                </div>
                <div class="form-group text-right">
                  <button nbButton status="primary" [disabled]="categories.length < 1" (click)="addToNav('category')">添加到导航</button>
                </div>
              </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-7">
    <form #navForm="ngForm" (ngSubmit)="save()">
      <nb-card>
      <nb-card-header>
        导航结构
      </nb-card-header>
      <nb-card-body>
          <div class="form-group row">
            <label for="nav_name" class="label col-sm-2 col-form-label">菜单名称</label>
            <div class="col-sm-10">
              <input id="nav_name"
                     required="required"
                     name="navName"
                     [status]="navName.dirty ? (navName.invalid  ? 'danger' : 'success') : 'primary'"
                     [(ngModel)]="nav.name"
                     #navName="ngModel"
                     status="primary"
                     nbInput>
              <ng-container *ngIf="navName.invalid && navName.touched">
                <p class="caption status-danger" *ngIf="navName.errors?.required">
                  名称不能为空!
                </p>
              </ng-container>
            </div>
          </div>
          <p>拖放各个项目到您喜欢的顺序，点击右侧的箭头可进行更详细的设置。</p>

          <div class="node_container" cdkDropList [cdkDropListData]="nav.nodes"
               [id]="'main'"
               [cdkDropListConnectedTo]="dropTargetIds"
               (cdkDropListDropped)="drop($event)"
               [cdkDropListSortingDisabled]="true">
            <div *ngFor="let node of nav.nodes" cdkDrag [cdkDragData]="node.nodeId"
                 (cdkDragMoved)="dragMoved($event)">
              <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
            </div>
          </div>
      </nb-card-body>
      <nb-card-footer>
        <div style="font-size:15px;font-weight:bold;" class="py-2">菜单设置</div>
        <div class="form-group row">
          <label for="nav_location" class="label col-sm-2 col-form-label">显示位置</label>
          <div id="nav_location" class="col-sm-10 d-flex flex-column">
            <nb-checkbox [(checked)]="nav.themeNavigationLocation![location.alias]" *ngFor="let location of themeNavigation">{{location.name}}</nb-checkbox>
          </div>
        </div>
      </nb-card-footer>
      <nb-card-footer>
        <div class="d-flex justify-content-between">
          <button nbButton type="button" status="danger" [disabled]="nav.id < 1 || nav.name.length < 1" (click)="delete()">删除导航</button>
          <button type="submit" nbButton status="primary" [disabled]="!navForm.valid">保存导航</button>
        </div>
      </nb-card-footer>
    </nb-card>
    </form>
  </div>
  <div class="col-5"></div>
  <div class="col-7" *ngIf="themeNavigation.length > 0">
    <nb-card>
      <nb-card-header>菜单位置</nb-card-header>
      <nb-card-body>
        <form>
          <div class="row mb-3">
            <label class="label col-2 col-form-label">主题菜单位置</label>
            <label class="label col-10 col-form-label">已指派的菜单</label>
          </div>
          <div class="row mb-3" *ngFor="let location of themeNavigation; let i = index;">
            <label for="nav_location_{{i}}" class="label col-2 col-form-label">{{ location.name }}</label>
            <div class="col-10">
              <nb-select name="nav_location_{{i}}" [(ngModel)]="themeNavigationLocation[location.alias]">
                <nb-option *ngFor="let m of navigate" [value]="m.id">{{m.name}}</nb-option>
              </nb-select>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <button nbButton status="primary" [disabled]="submitted"  (click)="saveLocation()">保存设置</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.nodeId" [attr.id]="'node-'+node.nodeId">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-between">
          <div>{{node.title}}</div>
          <div class="mr-4">{{typeMapName[node.type]}}</div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <form ngForm>
            <div class="form-group" *ngIf="node.type == 'link'">
              <label for="custom_link_id_{{node.nodeId}}" class="label">URL</label>
              <input id="custom_link_id_{{node.nodeId}}" [name]="node.nodeId" [(ngModel)]="node.url"  nbInput fullWidth status="primary" />
            </div>
            <div class="form-group">
              <label for="custom_link_name_{{node.nodeId}}" class="label">导航名称</label>
              <input id="custom_link_name_{{node.nodeId}}" [name]="node.nodeId" [(ngModel)]="node.title" nbInput fullWidth status="primary" />
            </div>
            <div>
              <button nbButton size="tiny" status="danger" (click)="remove(node.nodeId)">移除</button>
              &nbsp;|&nbsp;
              <button nbButton size="tiny" status="primary">取消</button>
            </div>
          </form>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <div *ngIf="node.children.length > 0" class="node-children"
         cdkDropList [cdkDropListData]="node.children"
         [id]="node.nodeId"
         [cdkDropListConnectedTo]="dropTargetIds"
         (cdkDropListDropped)="drop($event)"
         [cdkDropListSortingDisabled]="true">
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.nodeId"
           (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>
