<div class="row">
  <div *ngIf="status" class="col-12">
    <div class="row">
      <div class="col-xxl-3 col-md-6" *ngFor="let item of status.body">
        <app-status-card [title]="item.title" [on]="item.value" [icon]="item.icon" [id]="item.id" [color]="item.primaryColor"></app-status-card>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6 col-md-6 col-12" *ngFor="let item of cards">
    <nb-card>
      <nb-card-header>{{item.title}}</nb-card-header>
      <nb-card-body>
        <ng-container [ngSwitch]="item.type">
          <angular2-smart-table
            *ngSwitchCase="'table'"
            [settings]="item.settings"
            [source]="item.body"
          >
          </angular2-smart-table>
          <ngx-charts-bar-vertical *ngSwitchCase="'bar-vertical'"
                                   [animations]="item.settings.animations"
                                   [xAxis]="item.settings.xAxis"
                                   [yAxis]="item.settings.yAxis"
                                   [scheme]="colorScheme"
                                   [results]="item.body">
          </ngx-charts-bar-vertical>
          <ngx-charts-bar-horizontal *ngSwitchCase="'bar-horizontal'"
                                     [animations]="item.settings.animations"
                                     [xAxis]="item.settings.xAxis"
                                     [yAxis]="item.settings.yAxis"
                                     [scheme]="colorScheme"
                                     [results]="item.body">
          </ngx-charts-bar-horizontal>

          <ngx-charts-bar-vertical-2d *ngSwitchCase="'group-bar-vertical'"
                                   [animations]="item.settings.animations"
                                   [xAxis]="item.settings.xAxis"
                                   [yAxis]="item.settings.yAxis"
                                   [scheme]="colorScheme"
                                   [results]="item.body">
          </ngx-charts-bar-vertical-2d>
          <ngx-charts-bar-horizontal-2d *ngSwitchCase="'group-bar-horizontal'"
                                     [animations]="item.settings.animations"
                                     [xAxis]="item.settings.xAxis"
                                     [yAxis]="item.settings.yAxis"
                                     [scheme]="colorScheme"
                                     [results]="item.body">
          </ngx-charts-bar-horizontal-2d>

          <ngx-charts-pie-chart *ngSwitchCase="'pie'"
                                [animations]="item.settings.animations"
                                [legend]="item.settings.legend"
                                [labels]="item.settings.labels"
                                [scheme]="colorScheme"
                                [results]="item.body">
          </ngx-charts-pie-chart>
          <ngx-charts-advanced-pie-chart *ngSwitchCase="'pie-chart'"
                                         [animations]="item.settings.animations"
                                         [scheme]="colorScheme"
                                         [results]="item.body">
          </ngx-charts-advanced-pie-chart>
          <ngx-charts-pie-grid *ngSwitchCase="'pie-grid'"
                               [animations]="item.settings.animations"
                               [scheme]="colorScheme"
                               [results]="item.body">
          </ngx-charts-pie-grid>
          <ngx-charts-number-card *ngSwitchCase="'number'"
                                  [cardColor]="item.settings.cardColor || '#232837'"
                                  [animations]="item.settings.animations"
                                  [scheme]="colorScheme"
                                  [view]="item.settings.view"
                                  [results]="item.body">
          </ngx-charts-number-card>

          <ngx-charts-line-chart *ngSwitchCase="'line'"
                                 [animations]="item.settings.animations"
                                 [xAxis]="item.settings.xAxis"
                                 [yAxis]="item.settings.yAxis"
                                 [scheme]="colorScheme"
                                 [results]="item.body">
          </ngx-charts-line-chart>

          <ngx-charts-area-chart-stacked *ngSwitchCase="'area'"
                                         [animations]="item.settings.animations"
                                         [xAxis]="item.settings.xAxis"
                                         [yAxis]="item.settings.yAxis"
                                         [scheme]="colorScheme"
                                         [results]="item.body">
          </ngx-charts-area-chart-stacked>
        </ng-container>
      </nb-card-body>
    </nb-card>
  </div>
</div>


