<div class="mb-3" [class]="direction !== 'column' ? 'row' : ''" [formGroup]="form!">
  <label [class.fs-4]="control.type=='group'" class="label col-form-label" *ngIf="control.label" [class]="direction !== 'column' ? 'col-12 col-md-2' : ''" [for]="control.id">
    {{ control.label}}
  </label>
  <div [class]="direction !== 'column' ? 'col-12 col-md-10' : ''" class="d-flex flex-column">
    <ng-container [ngSwitch]="control.type">
      <input *ngSwitchCase="'input'"
         [id]="control.id"
         status="primary"
         nbInput fullWidth
         [placeholder]="control.placeholder!"
         [status]="status"
         [type]="control.inputType!"
         [formControlName]="control.id"/>

      <textarea *ngSwitchCase="'textarea'"
        nbInput fullWidth [rows]="control.settings ? control.settings!['rows'] ?? 2 : 2"
        status="primary"
        [id]="control.id"
        [placeholder]="control.placeholder!"
        [status]="status"
        [formControlName]="control.id"></textarea>

      <div class="d-flex flex-column" *ngSwitchCase="control.type == 'file' || control.type == 'video' || control.type == 'audio' || control.type == 'image' ? control.type : ''">
        <div class="flex-column d-flex align-items-center">
          <ng-container *ngIf="control.type != 'image'">
            <span class="d-inline my-1 text-break" *ngFor="let file of attachments">{{ file }}"</span>
          </ng-container>
          <ng-container *ngIf="control.type == 'image'">
            <div>
              <img alt="{{control.label + i}}"
                   [style.width]="control.settings?.cropped ? control.settings?.cropped.width + 'px' : '100%'"
                   [style.height.px]="control.settings?.cropped ? control.settings?.cropped.height+ 'px' : null"
                   *ngFor="let image of attachments; let i = index"
                   [src]="image"/>
            </div>
          </ng-container>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <ng-container *ngIf="attachments.length > 0 && control.settings?.is_upload">
            <button nbButton type="button"  status="danger" (click)="removeMedia()">{{control.settings?.button_labels.remove}}</button>
            <button nbButton type="button"  status="warning" (click)="openMedia()">{{control.settings?.button_labels.change}}</button>
          </ng-container>
          <button *ngIf="attachments.length < 1 && control.settings?.is_upload" nbButton fullWidth type="button" status="primary" (click)="openMedia()">
            {{control.settings?.button_labels.select}}
          </button>
        </div>
      </div>

      <nb-select [id]="control.id"
         status="primary" fullWidth
         *ngSwitchCase="'select'"
         [placeholder]="control.placeholder!"
         [multiple]="control.multiple"
         [selected]="control.value"
         [formControlName]="control.id">
         <nb-option *ngFor="let option of control.options" [value]="option.value">{{option.label}}</nb-option>
      </nb-select>
      <nb-select-with-autocomplete
        status="primary" fullWidth
       *ngSwitchCase="'select_search'"
       [withOptionsAutocomplete]="true"
       [placeholder]="control.placeholder!"
       [multiple]="control.multiple"
       [selected]="control.value"
       [formControlName]="control.id"
        (optionsAutocompleteInputChange)="filterOptions($event)"
        >
        <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option.value">{{option.label}}</nb-option>
      </nb-select-with-autocomplete>


      <nb-radio-group class="d-flex" *ngSwitchCase="'radio'" [formControlName]="control.id" [id]="control.id" status="primary">
        <nb-radio [value]="option.value" *ngFor="let option of control.options">{{option.label}}</nb-radio>
      </nb-radio-group>


      <nb-checkbox *ngSwitchCase="'checkbox'" [id]="control.id"
        status="primary"
        [checked]="!!control.value"
        [formControlName]="control.id"></nb-checkbox>

      <div *ngSwitchCase="'date'">
        <input nbInput fullWidth status="primary" [id]="control.id" id="{{ control.id }}"
           [placeholder]="control.placeholder"
           [formControlName]="control.id"
           [nbDatepicker]="datePicker"/>
        <nb-datepicker [format]="control.format!" #datePicker></nb-datepicker>
      </div>

      <div *ngSwitchCase="'datetime'">
        <input nbInput fullWidth status="primary" [id]="control.id" id="{{ control.id }}"
               [placeholder]="control.placeholder"
               [formControlName]="control.id"
               [nbDatepicker]="dateTimePicker"/>
        <nb-date-timepicker withSeconds [format]="control.format!" #dateTimePicker></nb-date-timepicker>
      </div>


      <div *ngSwitchCase="'range_date'">
        <input nbInput fullWidth status="primary" [id]="control.id"
         [placeholder]="control.placeholder"
         [formControlName]="control.id"
         [nbDatepicker]="rangeDatePicker"
        />
        <nb-rangepicker [format]="control.format!" #rangeDatePicker></nb-rangepicker>
      </div>

      <div *ngSwitchCase="'autocomplete'">
        <input nbInput fullWidth status="primary" [id]="control.id"
         [placeholder]="control.placeholder"
         [formControlName]="control.id"
         [nbAutocomplete]="autocomplete"
         #autoInput
         (input)="filterOptions(autoInput.value)"
        />
        <nb-autocomplete #autocomplete>
          <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option.value">
            {{ option.label }}
          </nb-option>
        </nb-autocomplete>
      </div>

      <div class="d-flex justify-content-between align-items-center" *ngSwitchCase="'color'">
        <input disabled nbInput [value]="getControl().value" />
        <ngx-colors ngx-colors-trigger [formControlName]="control.id"></ngx-colors>
      </div>

      <div *ngSwitchCase="'custom'" [innerHTML]="dom.bypassSecurityTrustHtml(control.template!)"></div>

      <nb-toggle *ngSwitchCase="'switch'" [formControlName]="control.id" [id]="control.id" status="primary"></nb-toggle>

      <group-control *ngSwitchCase="'group'" [direction]="direction" [element]="control" [form]="formGroup"></group-control>

    </ng-container>
    <p class="caption col-form-label status-danger" *ngIf="invalid">{{error}}</p>
    <p class="label col-form-label" *ngIf="control.description && control.description.length > 0" [innerHTML]="dom.bypassSecurityTrustHtml(control.description)"></p>
  </div>

  <hr *ngIf="control.type=='group'" style="color:var(--divider-color);opacity:1;">

</div>
