{% extends layout is defined ? layout : '@OctopusPressBundle/base.html.twig' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
    <main class="bg-basic grid h-screen min-h-full py-24 px-6 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base text-primary">404</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-basic sm:text-5xl">Page not found</h1>
            <p class="mt-6 text-base leading-7 text-hint">抱歉，我们找不到您要查找的页面.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/" class="btn primary medium">返回首页</a>
                <a href="#" class="text-sm font-semibold dark:text-white">联系支持 <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </main>
{% endblock %}
