{% extends layout is defined ? layout : '@OctopusPressBundle/base.html.twig' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
<section class="bg-basic h-screen py-14 lg:py-20">
    <div class="container mx-auto flex justify-center">
        <div class="w-full flex items-center flex-col px-6 py-4 min-w-300px">
            <div class="my-2">
                <svg class="w-28" viewBox="0 0 192 192" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M62.10369,112.89631 C73.258339,124.050959 73.258339,142.136218 62.10369,153.290867 C50.949041,164.445517 32.8637816,164.445517 21.7091325,153.290867 C10.5544835,142.136218 10.5544835,124.050959 21.7091325,112.89631 M62.10369,112.89631 C43.061513,93.854133 43.061513,62.980664 62.10369,43.938487 C81.145867,24.89631 112.019336,24.89631 131.061513,43.938487 C150.10369,62.980664 150.10369,93.854133 131.061513,112.89631 M171.254881,112.89631 C182.40953,124.050959 182.40953,142.136218 171.254881,153.290867 C160.100232,164.445517 142.014972,164.445517 130.860323,153.290867 C119.705674,142.136218 119.705674,124.050959 130.860323,112.89631" id="形状" stroke="#3366EF" stroke-width="20" stroke-linecap="round" stroke-linejoin="round"></path>
                        <circle  fill="#3366EF" cx="96.5826015" cy="78.4173985" r="18.2852041"></circle>
                    </g>
                </svg>
            </div>
            <div class="text-basic font-medium font-roboto text-4xl">
                <h1>章鱼出版社<span class="version"><?= $version; ?></span></h1>
            </div>
            <div class="my-12 relative w-full md:w-1/2 overflow-hidden">
                <div class="input primary medium w-full flex radius">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g data-name="Layer 2">
                                <g data-name="link" class="dark:fill-white">
                                    <rect width="24" height="24" opacity="0"/>
                                    <path d="M8 12a1 1 0 0 0 1 1h6a1 1 0 0 0 0-2H9a1 1 0 0 0-1 1z"/>
                                    <path d="M9 16H7.21A4.13 4.13 0 0 1 3 12.37 4 4 0 0 1 7 8h2a1 1 0 0 0 0-2H7.21a6.15 6.15 0 0 0-6.16 5.21A6 6 0 0 0 7 18h2a1 1 0 0 0 0-2z"/>
                                    <path d="M23 11.24A6.16 6.16 0 0 0 16.76 6h-1.51C14.44 6 14 6.45 14 7a1 1 0 0 0 1 1h1.79A4.13 4.13 0 0 1 21 11.63 4 4 0 0 1 17 16h-2a1 1 0 0 0 0 2h2a6 6 0 0 0 6-6.76z"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <a href="{{ app.request.getSchemeAndHttpHost() }}/bundles/octopuspress/dashboard" class="ml-2 font-mono font-bold">{{ app.request.getSchemeAndHttpHost() }}/bundles/octopuspress/dashboard</a>
                </div>
                <p class="pt-8 text-hint text-center font-mono">点击上面链接开始您的旅程</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
