<div [class.sidebar-compact]="leftSidebarCompact"
     [class.sidebar-collapse]="leftSidebarCollapse"
     class="component-skeleton">
  <div class="component-skeleton-body">
    <nb-card class="mb-0 position-relative">
      <nb-card-header class="d-flex border-0 justify-content-between align-items-center">
        <button nbButton id="widgetSidebarBtn" [status]="!hasHiddenWidgetSidebar?'control': 'primary'" #widgetSidebarBtn
                (click)="toggleWidgetSidebar($event)">
          <nb-icon [class.sidebar-widget-toggle-animation]="!hasHiddenWidgetSidebar" icon="plus-outline"></nb-icon>
        </button>
        <div class="d-flex justify-content-end">
          <button nbButton status="success" (click)="save($event)">更新</button>
          <div class="mx-2"></div>
          <button nbButton status="primary" type="button" id="settingSidebarBtn" (click)="toggleSettingSidebar($event)">
            <nb-icon icon="settings-2"></nb-icon>
          </button>
        </div>
      </nb-card-header>
    </nb-card>
    <div class="d-flex flex-grow-1 overflow-auto" style="overscroll-behavior-y: none;">
      <div class="col-12 col-xl-4 p-0 position-relative" [hidden]="hasHiddenWidgetSidebar">
        <div class="d-flex flex-column h-100">
          <div class="h-100">
            <div class="position-relative overflow-hidden h-100">
              <nb-card class="h-100 mb-0 border-0 rounded-0 position-relative">
                <nb-card-header>
                  <nb-form-field>
                    <input nbInput fullWidth (keyup)="search($event)"/>
                    <nb-icon nbSuffix icon="search-outline"></nb-icon>
                  </nb-form-field>
                </nb-card-header>
                <nb-card-body class="d-flex flex-column flex-grow-1">
                  <ng-container *ngFor="let category of filterWidgetCategories | async">
                    <div *ngIf="category.widgets && category.widgets.length > 0" class="sidebar-category">
                      <label class="label col-form-label py-4" *ngIf="category.slug">{{category.label}}</label>
                      <div class="d-flex flex-row flex-wrap">
                        <div class="sidebar-widget-item" (click)="insertWidget(widget.name)"
                             *ngFor="let widget of category.widgets">
                          <nb-icon [pack]="widget.icon.startsWith('fa-') ? 'fa': ''" [icon]="widget.icon"></nb-icon>
                          <span class="py-4">{{widget.label}}</span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 overflow-hidden mx-auto">
        <div class="d-flex flex-column h-100">
          <div class="block-list h-100 position-relative">
            <nb-card class="p-0 rounded-0 border-0 bg-transparent h-100">
              <nb-card-body>
                <div class="row">
                  <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                    <nb-accordion tabindex="0" class="mt-5" (focus)="selectorBlock($event, i)"
                                  *ngFor="let block of blocks; index as i;">
                      <nb-accordion-item>
                        <nb-accordion-item-header tabindex="0" (focus)="selectorBlock($event, i)">
                          {{block.label}}
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                          <widget-item [class.selected]="product.selected" [id]="product.id" #widgetItemComponent
                                       tabindex="0"
                                       [product]="product"
                                       (focus)="selectorWidget($event)"
                                       (blur)="unselectWidget($event)"
                                       *ngFor="let product of getBlockWidgets(block.name)">
                          </widget-item>
                          <button nbButton fullWidth status="basic"
                                  (nbPopoverShowStateChange)="quickToggle($event, i)"
                                  [nbPopover]="quickInsertWidgetDialog"
                                  nbPopoverTrigger="click">
                            <nb-icon icon="plus-outline"></nb-icon>
                          </button>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                    </nb-accordion>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
      <div tabindex="0" (blur)="unselectWidget($event)" class="col-12 col-xl-3 p-0 position-relative sidebar-setting"
           [hidden]="hasHiddenSettingSidebar">
        <div class="d-flex flex-column h-100">
          <div class="h-100">
            <div class="position-relative h-100">
              <nb-card class="h-100 mb-0 border-0 rounded-0">
                <nb-card-body class="p-0 h-100 overflow-hidden">
                  <nb-tabset class="h-100">
                    <nb-tab class="p-0 h-100" *ngIf="blocks.length > 0"
                            [tabTitle]="blocks[selectBlockIndex].label || ''">
                      <nb-list class="p-0 sidebar-setting-widgets-list">
                        <nb-list-item class="d-flex justify-content-between" [class.selected]="product.selected" tabindex="0" *ngFor="let product of getBlockWidgets(blocks[selectBlockIndex].name)">
                          <a routerLink="./" [fragment]="product.id" (click)="selected(product)" class="d-flex justify-content-between text-decoration-none flex-grow-1">
                            <div class="d-flex align-items-center">
                              <span><nb-icon [pack]="product.widget.icon.startsWith('fa-') ? 'fa': ''" [icon]="product.widget.icon"></nb-icon></span>
                              <span class="ms-2">{{product.widget.label}}</span>
                            </div>
                            <button class="more" nbButton outline [nbPopover]="itemMore" [nbPopoverContext]="{item:product, name: blocks[selectBlockIndex].name}" nbPopoverPlacement="bottom">
                              <nb-icon icon="more-vertical-outline"></nb-icon>
                            </button>
                          </a>
                        </nb-list-item>
                      </nb-list>
                    </nb-tab>
                    <nb-tab class="p-0 h-100 overflow-hidden" tabTitle="挂件">
                      <nb-card class="p-0 h-100 d-flex border-0 flex-column">
                        <nb-card-header class="d-flex" *ngIf="selectedWidget">
                          <nb-icon [pack]="selectedWidget.product.widget.icon.startsWith('fa-') ? 'fa': ''" [icon]="selectedWidget.product.widget.icon"></nb-icon>
                          <div class="d-flex flex-column ps-3">
                            <span>{{selectedWidget.product.widget.label}}</span>
                            <label class="label">{{selectedWidget.product.widget.description}}</label>
                          </div>
                        </nb-card-header>
                        <nb-card-body class="d-flex p-0 flex-column h-100 flex-grow-1">
                          <nb-accordion multi *ngIf="selectedWidget">
                            <nb-accordion-item *ngFor="let section of selectedWidget.product.widget.sections">
                              <nb-accordion-item-header>{{section.label}}</nb-accordion-item-header>
                              <nb-accordion-item-body>
                                <control-container class="control-container" tabindex="0" [form]="selectedWidget.product.form"
                                                   [controls]="section.controls"></control-container>
                              </nb-accordion-item-body>
                            </nb-accordion-item>
                          </nb-accordion>
                        </nb-card-body>
                      </nb-card>
                    </nb-tab>
                  </nb-tabset>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #quickInsertWidgetDialog>
  <nb-card class="border-0 mb-0" style="width: 22rem;">
    <nb-card-header class="border-0">
      <nb-form-field>
        <input nbInput fullWidth (keyup)="search($event)"/>
        <nb-icon nbSuffix icon="search-outline"></nb-icon>
      </nb-form-field>
    </nb-card-header>
    <nb-card-body class="p-0">
      <div class="d-flex flex-row flex-wrap">
          <div *ngFor="let widget of historyWidgets; index as i;" class="sidebar-widget-item"
               (click)="insertWidget(widget.name, true)">
              <nb-icon [pack]="widget.icon.startsWith('fa-') ? 'fa': ''" [icon]="widget.icon"></nb-icon>
              <span class="py-4">{{widget.label}}</span>
          </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="border-0">
      <button class="rounded-0" status="primary" outline fullWidth nbButton
              (click)="widgetSidebarBtnRef.nativeElement.click()">浏览全部
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #itemMore let-data>
  <nb-card class="border-0 mb-0" style="width: 22rem;">
    <nb-card-body class="p-0">
      <nb-list class="p-0">
        <nb-list-item>
          <a class="d-block text-basic text-decoration-none w-100" (click)="onPrevious(data.name, data.item)" role="button">向上移动</a>
        </nb-list-item>
        <nb-list-item>
          <a class="d-block  text-basic text-decoration-none w-100" (click)="onNext(data.name, data.item)"  role="button">向下移动</a>
        </nb-list-item>
        <nb-list-item>
          <a class="d-block  text-basic text-decoration-none w-100" (click)="onRemove(data.name, data.item)"  role="button">删除</a>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</ng-template>
