<div class="row">
  <div class="col-12 col-md-4" *ngIf="controls.length > 0">
    <nb-card>
      <nb-card-header>
        {{formGroup!.controls['id'].value < 1 ? taxonomySetting!.labels.addNewItem : taxonomySetting!.labels.editItem}}
      </nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup!">
          <control-container [controls]="controls" [form]="formGroup!"></control-container>
          <control-container [controls]="metaControls" [form]="metaGroup!"></control-container>
          <div class="my-3  d-flex justify-content-between">
            <label class="label col-form-label"></label>
            <button
              type="submit"
              status="primary"
              size="small"
              [disabled]="formGroup!.invalid || spinner"
              [nbSpinner]="spinner"
              nbButton>
              {{formGroup!.controls['id'].value < 1 ? taxonomySetting!.labels.addNewItem : '更新'}}
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-md-8">
    <nb-card>
      <nb-card-body class="border-0">
        <form (ngSubmit)="batch()" class="row mb-2">
          <nb-select class="col-auto" name="batchMode" [(ngModel)]="batchMode">
            <nb-option [value]="option.value" *ngFor="let option of batches">{{option.label}}</nb-option>
          </nb-select>
          <div class="col-auto">
            <button nbButton status="primary" [disabled]="!batchMode" type="submit">应用</button>
          </div>
        </form>
        <angular2-smart-table
          [settings]="settings"
          [source]="source">
        </angular2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
