<div class="row">
  <div class="col-12 col-md-4">
    <app-taxonomy-create [setting]="taxonomySetting!"></app-taxonomy-create>
  </div>
  <div class="col-12 col-md-8">
    <nb-card>
      <nb-card-body class="border-0">
        <form (ngSubmit)="batch()" class="row mb-2">
          <nb-select class="col-auto" name="batchMode" [(ngModel)]="batchMode">
            <nb-option [value]="option.value" *ngFor="let option of batches">{{option.label}}</nb-option>
          </nb-select>
          <div class="col-auto">
            <button nbButton status="primary" [disabled]="!batchMode" type="submit">应用</button>
          </div>
        </form>
        <angular2-smart-table
          [settings]="settings"
          [source]="source">
        </angular2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
