<nb-card>
  <nb-card-header>{{route.title}}</nb-card-header>
  <nb-card-body>
    <ng-container *ngFor="let link of radios">
      <a class="mx-2 bg-transparent border-0 ps-0" [class]="{'fs-6': link.value == radioFilter.value, 'text-primary': link.value == radioFilter.value}"
         nbButton
         style="color: var(--text-basic-color)"
         [routerLink]="['./']" [queryParams]="{status: link.value}" queryParamsHandling="merge"
      >{{link.label}}</a>
    </ng-container>
    <form (ngSubmit)="batch()" class="row mb-2">
      <nb-select class="col-auto" name="batchMode" [(ngModel)]="batchMode">
        <nb-option [value]="option.value" *ngFor="let option of batches">{{option.label}}</nb-option>
      </nb-select>
      <div class="col-auto">
        <button nbButton status="primary" [disabled]="!batchMode || spinner" [nbSpinner]="spinner" type="submit">应用</button>
      </div>
    </form>
    <angular2-smart-table
      [settings]="settings"
      [source]="source"
      (edit)="edit($event)"
    >
    </angular2-smart-table>
  </nb-card-body>
</nb-card>
